---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const courses = await getCollection("courses");

  return courses.map((course) => ({
    params: { slug: course.slug },
    props: { course },
  }));
}

type Props = {
  course: CollectionEntry<"courses">;
};

const { course } = Astro.props;
const { Content } = await course.render();
---
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
crossorigin="anonymous"
/>
<Layout title={course.data.title} description={course.data.description}>
  <main class="course mx-auto flex w-full max-w-full flex-col gap-4">
    <header role="presentation">
      <h1 class="text-3xl">
        {course.data.title}
      </h1> <br>
      <p class="bold text-xl">
        Published on {formatDate(course.data.completedOn)}
      </p> <br>
      <p class="semibold">{course.data.description}</p>
    </header>

    <Content />
  </main>
</Layout>