---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import CourseCard from "@/components/CourseCard.astro";

const courses = (await getCollection("education")).sort(function (first, second) {
  return second.data.completedOn.getTime() - first.data.completedOn.getTime();
});
---

<Layout title="All courses">
  <main class="flex flex-col gap-10">
    <h1 class="text-3xl text-neutral-100">Courses & Workshops</h1>

    <article class="flex flex-col gap-4">
      {
        courses.map((course) => (
          <CourseCard name={course.data.title} completedOn={formatDate(course.data.completedOn)}  offeredBy={course.data.offeredBy} description={course.data.description} slug={course.slug} />)
        )
      }
    </article>
  </main>
</Layout>
